<body>
  <footer class="footer bg-dark mt-4">
    <div class="container">
      <p class="text-light text-center">© 2024 <%= link_to "Vikash Gupta", "https://mr-vikash.netlify.app", class: "text-white" %> . All rights reserved.</p>
    </div>
  </footer>
</body>